{% extends 'base.html' %}

{% block content %}
    <h3 class="text-center p-3">Contact</h3>
    <div class="mt-2 p-3">
        <form id="form" method="post" class="row g-3" novalidate>
            {% csrf_token %}
            {% for field in form %}
                <div>
                    {{ field.label_tag }} {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
            <div>
                <input class="btn btn-primary btn-sm" type="submit" value="Send">
            </div>
        </form>
    </div>
{% endblock %}
